.result-root {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  text-align: center;
}

.container {
  width: 70vw;
}

.btn-back {
  background: transparent;
  border: none;
  margin: 20px;
}
