.game-info {
  background: white;
  color: black;
  border-radius: 5px;
  margin: 10px 0px;
  height: 200px;
}

.game-whether-win {
  position: absolute;
  background: gray;
  width: 50px;
  height: 200px;
  border-radius: 5px 0px 0px 5px;
}

.game-whether-win p {
  margin: 0px;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  font-weight: 900;
  font-size: 120%;
}

.game-content {
  padding: 15px;
  padding-left: 60px;
  display: flex;
  vertical-align: middle;
}

.game-content-summoner-info {
  text-align: center;
}

.game-content-item {
  white-space: nowrap;
}

.game-content-main-champion-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 15px;
  margin-bottom: 5px;
}

.game-content-spells-image {
  width: 32px;
  height: 32px;
  margin: 2px;
}

.game-content-info {
  white-space: nowrap;
}

.game-content-info p {
  margin: 0;
}

.game-content-champion-name {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin: 3px;
}

.game-content-participants {
  display: flex;
  margin-left: auto;
}

.game-content-team {
  list-style: none;
}

.game-content-team1 {
  text-align: right;
}

.game-content-team2 {
  text-align: left;
}

.game-content-summoner-name {
  display: inline-block;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.game-content-current-summoner {
  font-weight: 700;
}

.game-content-container-kda {
  min-width: 100px;
  display: inline-block;
}

.game-content-kda {
  padding: 0px 3px;
  width: 20px;
  font-weight: 500;
  display: inline-block;
  text-align-last: center;
}

.game-content-deaths {
  color: red;
}

.game-content-contour {
  color: darkgray;
  font-size: 90%;
  font-weight: 100;
}
