html {
  background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );
}

.App {
  width: 100vw;
  height: 100vh;
}

.App form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.App form * {
  display: flex;
}

.App form input {
  width: 30vw;
  height: 40px;
  opacity: 0.5;
  border-radius: 25px;
  border: none;
}